<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
 
 <listener class-name="com.TestFrameWork.ExtentTestNGIReporterListener"></listener>
 <listener class-name="com.TestFrameWork.RetryListenerClass"></listener>
 
 </listeners>
  <test thread-count="5" name="Test">
   <parameter name = "baseURL" value="https://api.spacexdata.com/v4"/>
    <classes>
      <class name="com.Tests.API_Test01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
